<div class="card">
    <div class="card-header">
        <h2>{{category.name}}</h2>
    </div>
    <div class="card-body">
        {{#each posts as |post|}}
        <a href="/post/{{post.id}}">
            <div class="post-card">
                <h5>{{post.title}}</h5>
                <p>{{post.body}}</p>
                <span>{{post.username}}</span>
                <span>{{formate_date post.date_created}}</span>
            </div>
        </a>
        {{/each}}
    </div>
</div>

<script src="/js/newPost.js"></script>