<div class="card">
    <div class="card-header">
        <h2>{{post.title}}</h2>
    </div>
    <div class="card-body">
        <p>{{post.body}}</p>
        <span>User: {{post.user.username}}</span>
        <span>Date Created: {{format_date post.date_created}}</span>
        {{#each comments as |comment|}}
        <br/>
        <span>Comments:</span>
        <div class="comment-card">
            <p>{{comment.body}}</p>
            <span>User: {{comment.user.username}}</span>
            <span>Date Created: {{format_date comment.date_created}}</span>
        </div>
        {{/each}}
    </div>
</div>

{{#if logged_in}}
<form class="create-comment" action="submit">
    <div class="comment">
        <label for="comment-body">Comment:</label>
        <input id="body" type="text">
        <button id="create-comment" data-user={{user_id}} data-post={{post_id}} type="submit">comment</button>
    </div>
</form>
{{/if}}

<script src="/js/newComment.js"></script>